<div class="accordion-group">
    <div class="accordion-heading">
    <a href="#collapseThree" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
        <i class="icon-file"></i>
        Reports
    </a>
    </div>
    <div class="accordion-body collapse" id="collapseThree">
        <div class="accordion-inner">
            <ul class="nav nav-list">
                <li><strong>vCard</strong></li>
                <li><a href="<?=$base_url.ADMIN_FOLDER.'report/vcard_list'?>"><i class="icon-list"></i> vCard List</a></li>
                <li class="divider"></li>
                
            </ul>
        </div>
    </div>
</div>