<div class="span3" id="sidebardiv">
	<div id="innernav" style="padding:19px">
        <div class="accordion-group" >
              <div class="accordion-heading">
                  <a href="#collapseTwo" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
                      <i class="icon-book"></i>
                      Common Tasks
                  </a>
              </div>
              <div class="accordion-body collapse in" id="collapseTwo">
                  <div class="accordion-inner">                        
                      <ul class="nav nav-list">                                
                          <li>
                              <a href="<?php echo base_url();?>"><i class="icon-home"></i>Home</a>
                          </li>
                          <li>
                              <a href="<?php echo base_url();?>site-admin/profile"><i class="icon-home"></i>My Account</a>
                          </li>
                          <li><a href="<?php echo base_url();?>messages"><i class="icon-plus-sign"></i> Inbox</a></li>
                          <li><a href="<?php echo base_url();?>messages/sentMessages"><i class="icon-plus-sign"></i> Sent Box</a></li>
                          <li><a href="<?php echo base_url();?>messages/index/add"><i class="icon-plus-sign"></i> Compose Message</a></li>
                           
                          <li><a href="<?php echo base_url();?>phonebook"><i class="icon-plus-sign"></i> Phone book</a></li>
                          <li><a href="<?php echo base_url(ADMIN_FOLDER);?>/home/logout"><i class="icon-off"></i> Logout</a></li>
                                         
                      </ul>
                  </div>
              </div>
          </div>
    </div>    
</div><!--/span-->