    <!-- inner main container ends -->
	  </div><!--/row-->
    </div><!--/.fluid-container-->    
    <footer style=" background-color: #F5F5F5; border-top: 1px solid #E5E5E5;padding: 20px 0;">
        <div class="container-fluid">
            <p style="text-align: center">
                <a href="#">Top of Page</a><br />
                <a href="#">SAPL & OCL</a> &nbsp;&middot;&nbsp; Copyright &#169; 2012 &nbsp;&middot;&nbsp; Inc.
                <a href="http://www.dsinv.com/"> Powered by Dynamic Solution Innovators</a>
            </p>
        </div>
        
    </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->    
    <?=@$js_footer?>
    <script src="<?=$base_url.ASSETS_FOLDER?>js/knockout.js"></script>
    <script src="<?=$base_url.ASSETS_FOLDER?>js/bootstrap.min.js"></script>

    </body>
</html>