<div class="accordion-group">
    <div class="accordion-heading">
        <a href="#collapseOne" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle" >
            <i class="icon-home"></i>
            IT-Inventory
        </a>
    </div>
    <div class="accordion-body collapse in" id="collapseOne" >
        <div class="accordion-inner">
            <ul class="nav nav-list">
                <li><strong>Categories</strong></li>
                <li><a href="<?=$base_url.IT_MODULE_FOLDER?>categories"><i class="icon-user"></i> View Categories</a></li>

                <!-- <li><a href="<?=$base_url.IT_MODULE_FOLDER?>/categories/index/add"><i class="icon-plus-sign"></i> Add A New Category</a></li>-->
                <li class="divider"></li>

                <li><strong>Units</strong></li>
                <li><a href="<?=$base_url.IT_MODULE_FOLDER?>units"><i class="icon-user"></i> View Units</a></li>

                <!--<li><a href="http://localhost/ocl-backoffice/it-inventory/units/index/add"><i class="icon-plus-sign"></i> Add A New Units</a></li>-->
                <li class="divider"></li>

                <li><strong>Item Master</strong></li>
                <li><a href="<?=$base_url.IT_MODULE_FOLDER?>item_master"><i class="icon-user"></i> View Items Master</a></li>

                <!--<li><a href="<?=$base_url.IT_MODULE_FOLDER?>item_master/index/add"><i class="icon-plus-sign"></i> Add A New Item Master</a></li>-->
                <li class="divider"></li>

                <li><strong>Sub Item Master</strong></li>
                <li><a href="<?=$base_url.IT_MODULE_FOLDER?>item_master_sub"><i class="icon-user"></i> View Sub Items Master</a></li>

                <!--<li><a href="<?=$base_url.IT_MODULE_FOLDER?>item_master/index/add"><i class="icon-plus-sign"></i> Add A New Item Master</a></li>-->
                <li class="divider"></li>

                <li><strong>Repair Type</strong></li>
                <li><a href="<?=$base_url.IT_MODULE_FOLDER?>repair_type"><i class="icon-user"></i> View Repair Type</a></li>
                <!-- <li><a href="<?=$base_url.IT_MODULE_FOLDER?>repair_type/index/add"><i class="icon-plus-sign"></i> Add A New Repair Type</a></li>-->
                <li class="divider"></li>

                <li><strong>Budget</strong></li>
                <li><a href="<?=$base_url.IT_MODULE_FOLDER?>budget"><i class="icon-user"></i> View Budget</a></li>
                <!-- <li><a href="<?=$base_url.IT_MODULE_FOLDER?>repair_type/index/add"><i class="icon-plus-sign"></i> Add A New Repair Type</a></li>-->
                <li class="divider"></li>

                <li><strong>Requisitions</strong></li>
                <li><a href="<?=$base_url.IT_MODULE_FOLDER?>requisition"><i class="icon-user"></i> View Requisitions</a></li>

                <!--<li><a href="<?=$base_url.IT_MODULE_FOLDER?>requisition/add_Requisition"><i class="icon-plus-sign"></i> Add A New Requisition</a></li>-->
                <li class="divider"></li>

                <li><strong>Receives</strong></li>
                <li><a href="<?=$base_url.IT_MODULE_FOLDER?>receive"><i class="icon-user"></i> View Receives</a></li>

                <li class="divider"></li>
                <li><strong>Stock</strong></li>
                <li><a href="<?=$base_url.IT_MODULE_FOLDER?>stock"><i class="icon-user"></i> View Stock</a></li>

                <li class="divider"></li>
                <li><strong>Issue</strong></li>
                <li><a href="<?=$base_url.IT_MODULE_FOLDER?>issue"><i class="icon-user"></i> View Issue</a></li>
                <li class="divider"></li>
                <li><strong>Damge</strong></li>
                <li><a href="<?=$base_url.IT_MODULE_FOLDER?>damage"><i class="icon-user"></i> View Damage</a></li>
                <!--<li><a href="<?=$base_url.IT_MODULE_FOLDER?>damage/index/add"><i class="icon-plus-sign"></i> Add A New Damage</a></li>-->
                <li class="divider"></li>

                <li><strong>Repair</strong></li>
                <li><a href="<?=$base_url.IT_MODULE_FOLDER?>repair/null"><i class="icon-user"></i> View Repair</a></li>
                <!-- <li><a href="<?=$base_url.IT_MODULE_FOLDER?>repair/index/add"><i class="icon-plus-sign"></i> Add A New Repair</a></li>-->
                <li class="divider"></li>

                <li><strong>Bill</strong></li>
                <li><a href="<?=$base_url.IT_MODULE_FOLDER?>bill"><i class="icon-user"></i> View Bill</a></li>
                <li class="divider"></li>

            </ul>
        </div>
    </div>
</div>

<div class="accordion-group" >
    <div class="accordion-heading">
        <a href="#collapseTwo" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
            <i class="icon-book"></i>
            Admin-Setup
        </a>
    </div>
    <div class="accordion-body collapse in" id="collapseTwo">
        <div class="accordion-inner">
            <ul class="nav nav-list">
                <li>
                    <a href="<?=$base_url.ADMIN_FOLDER?>home"><i class="icon-home"></i>Home</a>
                </li>
                <li><a href="<?=$base_url.ADMIN_FOLDER?>profile"><i class="icon-user"></i> My Account</a></li>
                <li><a href="<?=$base_url.ADMIN_FOLDER?>home/logout"><i class="icon-off"></i> Log Out</a></li>
                <li><strong>User Groups</strong></li>
                <li><a href="<?=$base_url.ADMIN_FOLDER?>user_group"><i class="icon-user"></i> View User Groups</a></li>

                <li><a href="<?=$base_url.ADMIN_FOLDER?>user_group/index/add"><i class="icon-plus-sign"></i> Add A New User Group</a></li>

                <li class="divider"></li>

                <li><strong>Admin Users</strong></li>
                <li><a href="<?=$base_url.ADMIN_FOLDER?>users"><i class="icon-user"></i> View Admin Users</a></li>

                <li><a href="<?=$base_url.ADMIN_FOLDER?>users/index/add"><i class="icon-plus-sign"></i> Add A New Admin User</a></li>
                <li class="divider"></li>

                <li><strong>Designation</strong></li>
                <li><a href="<?=$base_url.ADMIN_FOLDER?>designations"><i class="icon-user"></i> View Designation</a></li>

                <li><a href="<?=$base_url.ADMIN_FOLDER?>designations/index/add"><i class="icon-plus-sign"></i> Add A New Designation</a></li>
                <li class="divider"></li>

                <li class="divider"></li>

                <li><strong>Organization</strong></li>
                <li><a href="<?=$base_url.ADMIN_FOLDER?>organizations"><i class="icon-user"></i> View Organizations</a></li>

                <li><a href="<?=$base_url.ADMIN_FOLDER?>organizations/index/add"><i class="icon-plus-sign"></i> Add A New Organization</a></li>
                <li class="divider"></li>

                <li><strong>Company</strong></li>
                <li><a href="<?=$base_url.ADMIN_FOLDER?>companies"><i class="icon-user"></i> View Companies</a></li>

                <li><a href="<?=$base_url.ADMIN_FOLDER?>companies/index/add"><i class="icon-plus-sign"></i> Add A New Company</a></li>
                <li class="divider"></li>

                <li><strong>Departments</strong></li>
                <li><a href="<?=$base_url.ADMIN_FOLDER?>departments"><i class="icon-user"></i> View Departments</a></li>

                <li><a href="<?=$base_url.ADMIN_FOLDER?>departments/index/add"><i class="icon-plus-sign"></i> Add A New Department</a></li>
                <li class="divider"></li>

                <li><strong>Vendors</strong></li>
                <li><a href="<?=$base_url.ADMIN_FOLDER?>vendors"><i class="icon-user"></i> View Vendors</a></li>

                <li><a href="<?=$base_url.ADMIN_FOLDER?>vendors/index/add"><i class="icon-plus-sign"></i> Add A New Vendor</a></li>
                <li class="divider"></li>
            </ul>
        </div>
    </div>
</div>