<div class="accordion-group">
	    <div class="accordion-heading">
	        <a href="#collapseOne" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle" >
	            <i class="icon-home"></i>
	            IT-Inventory
	        </a>
	    </div>
	    <div class="accordion-body collapse in" id="collapseOne" >
	        <div class="accordion-inner">                      		
	            <ul class="nav nav-list">
		            <li><strong>Categories</strong></li>
	                <li><a href="http://localhost/ocl-backoffice/it-inventory/categories"><i class="icon-user"></i> View Categories</a></li>
	                 
	                <li><a href="http://localhost/ocl-backoffice/it-inventory/categories/index/add"><i class="icon-plus-sign"></i> Add A New Category</a></li>                                    
	                <li class="divider"></li>
                    
                    <li><strong>Units</strong></li>
	                <li><a href="http://localhost/ocl-backoffice/it-inventory/units"><i class="icon-user"></i> View Units</a></li>
	                 
	                <li><a href="http://localhost/ocl-backoffice/it-inventory/units/index/add"><i class="icon-plus-sign"></i> Add A New Units</a></li>                                    
	                <li class="divider"></li>
                    
                    <li><strong>Item Master</strong></li>
	                <li><a href="http://localhost/ocl-backoffice/it-inventory/item_master"><i class="icon-user"></i> View Items Master</a></li>
	                 
	                <li><a href="http://localhost/ocl-backoffice/it-inventory/item_master/index/add"><i class="icon-plus-sign"></i> Add A New Item Master</a></li>                                    
	                <li class="divider"></li>   
		                               
		        </ul>
	    	</div>
	    </div>
	</div>
