<li>
    <span id="menu-home"><a href="#" class="loadmenu" id="menu-1">Home</a></span>
    <div class="ldd_submenu" id="ldd_submenu-1" style="width: 180px">
        <ul>
            <li class="ldd_heading">Options</li>
            <li><a href="http://localhost/school/">Home Page</a></li>
            <li><a href="http://localhost/school/profile">My Account</a></li>
                        <li><a href="http://localhost/school/home/logout">Log Out</a></li>                                
        </ul>                            
        <a class="ldd_subfoot" href="#"></a>
    </div>
</li>
