<div class="accordion-group">
    <div class="accordion-heading">
        <h5><a href="#collapseIT-Inventory" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle" >
            IT-Inventory
        </a></h5>
    </div>
    <div class="accordion-body collapse in" id="collapseIT-Inventory" >
        <div class="accordion-inner">
            <ul class="nav nav-list">
                <li><a href="<?=$base_url.IT_MODULE_FOLDER?>categories"><i class="icon-user"></i>Categories</a></li>

                <!-- <li><a href="<?=$base_url.IT_MODULE_FOLDER?>/categories/index/add"><i class="icon-plus-sign"></i> Add A New Category</a></li>-->
                <li class="divider"></li>

                <li><a href="<?=$base_url.IT_MODULE_FOLDER?>units"><i class="icon-user"></i>Units</a></li>

                <!--<li><a href="http://localhost/ocl-backoffice/it-inventory/units/index/add"><i class="icon-plus-sign"></i> Add A New Units</a></li>-->
                <li class="divider"></li>

                <li><a href="<?=$base_url.IT_MODULE_FOLDER?>item_master"><i class="icon-user"></i>Items</a></li>

                <!--<li><a href="<?=$base_url.IT_MODULE_FOLDER?>item_master/index/add"><i class="icon-plus-sign"></i> Add A New Item Master</a></li>-->
                <li class="divider"></li>

                <li><a href="<?=$base_url.IT_MODULE_FOLDER?>budget_head"><i class="icon-user"></i>Budget Head</a></li>
                <!-- <li><a href="<?=$base_url.IT_MODULE_FOLDER?>repair_type/index/add"><i class="icon-plus-sign"></i> Add A New Repair Type</a></li>-->
                <li class="divider"></li>

                <li><a href="<?=$base_url.IT_MODULE_FOLDER?>budget"><i class="icon-user"></i>Budget</a></li>
                <!-- <li><a href="<?=$base_url.IT_MODULE_FOLDER?>repair_type/index/add"><i class="icon-plus-sign"></i> Add A New Repair Type</a></li>-->
                <li class="divider"></li>

                <li><a href="<?=$base_url.IT_MODULE_FOLDER?>repair_type"><i class="icon-user"></i>Repair Type</a></li>
                <!-- <li><a href="<?=$base_url.IT_MODULE_FOLDER?>repair_type/index/add"><i class="icon-plus-sign"></i> Add A New Repair Type</a></li>-->
                <li class="divider"></li>

                <li><a href="<?=$base_url.IT_MODULE_FOLDER?>agreement_list"><i class="icon-user"></i>Agreement List</a></li>
                <!-- <li><a href="<?=$base_url.IT_MODULE_FOLDER?>repair_type/index/add"><i class="icon-plus-sign"></i> Add A New Repair Type</a></li>-->
                <li class="divider"></li>

                <li><a href="<?=$base_url.IT_MODULE_FOLDER?>requisition"><i class="icon-user"></i>Requisitions</a></li>

                <!--<li><a href="<?=$base_url.IT_MODULE_FOLDER?>requisition/add_Requisition"><i class="icon-plus-sign"></i> Add A New Requisition</a></li>-->
                <li class="divider"></li>

                <li><a href="<?=$base_url.IT_MODULE_FOLDER?>receive_list"><i class="icon-user"></i>Receive List</a></li>

                <li class="divider"></li>
                <li><a href="<?=$base_url.IT_MODULE_FOLDER?>stock"><i class="icon-user"></i>Stock List</a></li>

                <li class="divider"></li>
                <li><a href="<?=$base_url.IT_MODULE_FOLDER?>issue_list"><i class="icon-user"></i>Issue List</a></li>
                <li class="divider"></li>
                <li><a href="<?=$base_url.IT_MODULE_FOLDER?>damage_list"><i class="icon-user"></i>Damage List</a></li>
                <!--<li><a href="<?=$base_url.IT_MODULE_FOLDER?>damage/index/add"><i class="icon-plus-sign"></i> Add A New Damage</a></li>-->
                <li class="divider"></li>

                <li><a href="<?=$base_url.IT_MODULE_FOLDER?>repair_list/"><i class="icon-user"></i>Repair List</a></li>
                <!-- <li><a href="<?=$base_url.IT_MODULE_FOLDER?>repair/index/add"><i class="icon-plus-sign"></i> Add A New Repair</a></li>-->
                <li class="divider"></li>

                <li><a href="<?=$base_url.IT_MODULE_FOLDER?>others_bill/"><i class="icon-user"></i>Others Bill</a></li>
                <!-- <li><a href="<?=$base_url.IT_MODULE_FOLDER?>repair/index/add"><i class="icon-plus-sign"></i> Add A New Repair</a></li>-->
                <li class="divider"></li>

                <li><a href="<?=$base_url.IT_MODULE_FOLDER?>bill_list"><i class="icon-user"></i>Bill List</a></li>
                <li class="divider"></li>

                <li><a href="<?=$base_url.IT_MODULE_FOLDER?>permanent_damaged"><i class="icon-user"></i>Permanent Damage</a></li>
                <li class="divider"></li>

            </ul>
        </div>
    </div>
</div>