<div class="accordion-group">
    <div class="accordion-heading">
        <h5><a href="#collapseReport" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle" >
            Report
        </a></h5>
    </div>
    <div class="accordion-body collapse in" id="collapseReport" >
        <div class="accordion-inner">
            <ul class="nav nav-list">
                <li><a href="<?=$base_url.REPORT_FOLDER?>report_test"><i class="icon-user"></i>Test Report</a></li>
                <li class="divider"></li>

                <li><a href="<?=$base_url.REPORT_FOLDER?>stock_report"><i class="icon-user"></i>Stock Report</a></li>
                <li class="divider"></li>

            </ul>
        </div>
    </div>
</div>