<div class="accordion-group">
    <div class="accordion-heading">
        <h5><a href="#collapseReport" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle" >
            Report
        </a></h5>
    </div>
    <div class="accordion-body collapse in" id="collapseReport" >
        <div class="accordion-inner">
            <ul class="nav nav-list">

                <li><a href="<?=$base_url.REPORT_FOLDER?>company_budget"><i class="icon-user"></i>Company Budget</a></li>
                <li class="divider"></li>

                <li><a href="<?=$base_url.REPORT_FOLDER?>combined_budget"><i class="icon-user"></i>Combined Budget</a></li>
                <li class="divider"></li>

                <li><a href="<?=$base_url.REPORT_FOLDER?>requisition_list"><i class="icon-user"></i>Requisition List</a></li>
                <li class="divider"></li>

                <li><a href="<?=$base_url.REPORT_FOLDER?>requisition_details"><i class="icon-user"></i>Requisition Details</a></li>
                <li class="divider"></li>

                <li><a href="<?=$base_url.REPORT_FOLDER?>quotation_list"><i class="icon-user"></i>Quotation List</a></li>
                <li class="divider"></li>

                <li><a href="<?=$base_url.REPORT_FOLDER?>quotation_details"><i class="icon-user"></i>Quotation Details</a></li>
                <li class="divider"></li>

                <li><a href="<?=$base_url.REPORT_FOLDER?>quotation_comparison"><i class="icon-user"></i>Quot. Comparison</a></li>
                <li class="divider"></li>

                <li><a href="<?=$base_url.REPORT_FOLDER?>purchase_list"><i class="icon-user"></i>Purchase List</a></li>
                <li class="divider"></li>

                <li><a href="<?=$base_url.REPORT_FOLDER?>purchase_details"><i class="icon-user"></i>Purchase Details</a></li>
                <li class="divider"></li>

                <li><a href="<?=$base_url.REPORT_FOLDER?>bill_report"><i class="icon-user"></i>Bill Report</a></li>
                <li class="divider"></li>

                <li><a href="<?=$base_url.REPORT_FOLDER?>stock_report"><i class="icon-user"></i>Stock Report</a></li>
                <li class="divider"></li>

                <li><a href="<?=$base_url.REPORT_FOLDER?>product_details"><i class="icon-user"></i>Product Details</a></li>
                <li class="divider"></li>

                <li><a href="<?=$base_url.REPORT_FOLDER?>issue_report"><i class="icon-user"></i>Issue Report</a></li>
                <li class="divider"></li>

                <li><a href="<?=$base_url.REPORT_FOLDER?>current_issue"><i class="icon-user"></i>Current Issue</a></li>
                <li class="divider"></li>

                <li><a href="<?=$base_url.REPORT_FOLDER?>repairable_damage"><i class="icon-user"></i>Repairable Damage</a></li>
                <li class="divider"></li>

                <li><a href="<?=$base_url.REPORT_FOLDER?>permanent_damage"><i class="icon-user"></i>Permanent Damage</a></li>
                <li class="divider"></li>

            </ul>
        </div>
    </div>
</div>