<div class="accordion-group" >
    <div class="accordion-heading">
        <h5><a href="#collapseStaff" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
            Employee
        </a></h5>
    </div>
    <div class="accordion-body collapse in" id="collapseStaff">
        <div class="accordion-inner">
            <ul class="nav nav-list">
                <!--<li class="divider"></li>-->
                <li><a href="<?=$base_url.ADMIN_FOLDER?>staff"><i class="icon-home"></i>Employee</a></li>
            </ul>
        </div>
    </div>
</div>